#projects {
  margin-bottom: 15vh;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #3b67b5;

  width: 45%;
  min-height: 450px;
  border: 1px solid #1d3f7a;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-thumbnail-container,
.project-thumbnail {
  width: 100%;
  border-radius: 15px;
}
.project-thumbnail-container {
  height: 50%;
}
.project-thumbnail {
  object-fit: cover;
  height: 100%;
}

.icon-container {
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 1vh;
}

.icon-wrapper {
  height: 2.5vh;
  width: 2.5vh;
}

@media screen and (max-width: 480px) {
  #projects {
    margin-bottom: 10vh;
  }
  .projects-container {
    justify-content: center;
  }

  .project-card {
    width: 90%;
  }

  .icon-wrapper {
    height: 3vh;
    width: 3vh;
  }
}
