#projects {
  margin-bottom: 5vh;
  background-color: var(--project-bg-color);
  width: 100%;
  align-items: center;
  position: relative;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
  padding-bottom: 10vh;
}

.project-card {
  background-color: var(--project-card-bg-color);

  width: 45%;
  min-height: 550px;
  border: 1px solid #1d3f7a;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-thumbnail-container,
.project-thumbnail {
  width: 100%;
  border-radius: 15px;
}
.project-thumbnail-container {
  height: 50%;
}
.project-thumbnail {
  object-fit: cover;
  height: 100%;
}

.icon-container {
  margin-top: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 1vh;
}

.icon-wrapper {
  height: 3.2vh;
  width: 3.2vh;
}

.project-angle {
  background-color: var(--bg-color);

  /* clip-path: polygon(0 0, 100% 100%, 0 100%); */
  width: 100vw;
  height: 100px;
}
.project-angle::after {
  content: " ";
  background-color: var(--project-bg-color);

  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform: skewY(0.001deg);
  width: 100vw;
  height: 100px;
  right: 0;
  position: absolute;
}

@media screen and (max-width: 480px) {
  #projects {
    margin-bottom: 10vh;
  }
  .projects-container {
    justify-content: center;
  }

  .project-card {
    width: 90%;
    min-height: 450px;
  }

  .icon-wrapper {
    height: 3vh;
    width: 3vh;
  }

  .project-angle,
  .project-angle::after {
    height: 50px;
  }
}
