#skills {
  height: 50vh;
}

.skills-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon {
  height: 120px;
  width: auto;
}

@media screen and (max-width: 480px) {
  #skills {
    height: 70vh;
  }

  .skills-icon {
    height: 100px;
    width: auto;
  }
}
