.skills-container {
  margin-top: 5vh;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon {
  height: 120px;
  width: auto;
}

@media screen and (max-width: 480px) {
  .skills-icon {
    height: 100px;
    width: auto;
  }
}
