#home {
  flex-direction: column;
  height: 100vh;
}

#home > h2 {
  text-align: start;
  padding-left: 10vw;
  margin-bottom: 5px;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  height: 90%;
  width: 100%;
  margin-left: -3px;
  position: absolute;
  top: -1px;
  left: 4px;
  border-radius: 20% 25% 20% 24%;
}

.highlight-about:before {
  background: #1f62c097;
  transform: rotate(3deg);
}

.highlight-work:before {
  background: #c13636a7;
  transform: rotate(-3deg);
}

@media screen and (max-width: 480px) {
  #home > h2 {
    padding-left: 0;
  }
}
