#home {
  height: 80vh;
  padding-top: 25vh;
  /* justify-content: center; */
  position: relative;
  padding-bottom: -25vh;
  overflow: hidden;
}

.home-angle {
  background-color: var(--bg-color);

  /* clip-path: polygon(0 0, 100% 100%, 0 100%); */
  width: 100vw;
  height: 100px;
}
.home-angle::after {
  content: " ";
  background-color: var(--project-bg-color);

  clip-path: polygon(0 0, 100% 100%, 0 100%);
  transform: skewY(0.001deg);
  width: 100vw;
  height: 100px;
  right: 0;
  position: absolute;
}

#home > h2 {
  text-align: start;

  margin-bottom: 5px;
}

.highlight-container,
.highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: " ";
  height: 90%;
  width: 100%;
  margin-left: -3px;
  position: absolute;
  top: -1px;
  left: 4px;
  border-radius: 20% 25% 20% 24%;
}

.highlight-about:before {
  background: #e4c01d97;
  transform: rotate(3deg);
}

.highlight-work:before {
  background: #c13636a7;
  transform: rotate(-3deg);
}

@media screen and (max-width: 480px) {
  #home {
    padding-top: 15vh;
  }

  #home > h2 {
    padding-left: 0;
  }
}
