.navbar {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 10vh;
  align-items: center;
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 1;
}

#btn--theme-toggle {
  margin-left: auto;
  background: var(--toggle-button);
  border: none;
  height: 20px;
  width: 20px;
}
