:root {
  --bg-color: #222020;
  --project-bg-color: #2e2b2b;
  --heading-color: #ffffff;
  --text-color: #dedede;
  --toggle-button: url(./assets/light.svg) no-repeat;
  font-family: Domine, system-ui, Avenir, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);
}

:root.light {
  --bg-color: #ffffff;
  --project-bg-color: #f2f2f2;
  --head-color: #000000;
  --text-color: #000;
  --toggle-button: url(./assets/dark.svg) no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 15vw;
  text-align: center;
}

svg {
  fill: var(--text-color);
}

.section-container {
  display: flex;
  scroll-margin-top: 9vh;
  min-height: 80vh;
  justify-content: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--heading-color);
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */

@media screen and (max-width: 480px) {
  body {
    margin: 0 10vw;
  }
}
