:root {
  --bg-color: #2e5393;
  --project-card-bg-color: #3b67b5;
  --heading-color: #ffffff;
  --text-color: #dedede;
  --toggle-button: url(./assets/light.svg) no-repeat;
  --project-bg-color: #aec1e3;

  /* font-family: Domine, system-ui, Avenir, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color); */
}

:root.light {
  --bg-color: #ffffff;
  --project-card-bg-color: #f2f2f2;
  --heading-color: #000000;
  --text-color: #000;
  --toggle-button: url(./assets/dark.svg) no-repeat;

  /* font-family: Domine, system-ui, Avenir, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-family: Domine, system-ui, Avenir, Helvetica, Arial, serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  margin: 0;
  text-align: center;
}

svg {
  fill: var(--text-color);
}

#root {
  width: 100%;
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section-container {
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  scroll-margin-top: 9vh;
  /* max-width: 700px; */
}

.section-heading {
  font-size: 3rem;
  color: var(--heading-color);
  margin-bottom: 5vh;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens */

@media screen and (max-width: 480px) {
  .section-container {
    max-width: 100%;
  }
}
